{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

if ! [ -x "$(command -v brew)" ]; then
  echo 'Installing homebrew'
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
  echo 'Updating homebrew'
  brew update
fi

echo 'Installing packages using Brew'

brew bundle --verbose --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/core"
tap "buo/cask-upgrade"

brew "mas"
brew "gpg"

# zsh shell
brew "zsh"
brew "antidote"

# CLI Tools
brew "asdf"
brew "atuin"
brew "bat"
brew "broot"
brew "fd"
brew "fzf"
brew "gh"
brew "git-delta"
brew "helix"
brew "httpie"
brew "lazydocker"
brew "lazygit"
brew "lsd"
brew "micro"
brew "openssl"
brew "tealdeer"
brew "tree"
brew "tmux"
brew "zellij"
brew "zoxide"

# Browsers
cask "google-chrome"
cask "firefox"

# Utilities
cask "stats"
cask "1password"
cask "transmission"
brew "nextdns"
cask "cheatsheet"
cask "dozer"
cask "linearmouse"
cask "rectangle"

# Dev tools
cask "iterm2"
cask "visual-studio-code"
cask "sublime-text"
cask "zed"
cask "1password/tap/1password-cli"
cask "orbstack"
cask "insomnia"
cask "postico"
cask "github"

# Fonts
cask "font-jetbrains-mono"
cask "font-meslo-lg-nerd-font"
cask "font-monaspace"

# Communication
cask "telegram-desktop"
cask "slack"
cask "discord"

# Miscellaneous
cask "iina"
cask "spotify"
EOF
{{ end -}}

# Change default shell
MYSHELL=`ps -hp $$|awk '{echo $5}'`
if [ ! $MYSHELL = "zsh" ]; then
  echo 'Changing default shell to zsh'
  chsh -s /bin/zsh
else
  echo 'Already using zsh'
fi

# asdf plugins
asdf plugin add golang
asdf plugin add python
asdf plugin add nodejs

# TLDR cache update
tldr --update
